<ol class="breadcrumb">
  <li> Notes (<%= @notes.total_count%>)</li>
</ol>

<div class="container">
  <div>
    <%= link_to "New Note", new_note_path, class: "btn btn-lg btn-primary create-note" %>
  </div>

  <div class="new_with_pagination">
    <%= paginate @notes %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-1">SN</th>
        <th class="col-sm-2">Title</th>
        <th class="col-sm-4">Body</th>
        <th class="col-sm-2">Tags</th>
        <th class="col-sm-2">Created At</th>
        <th class="col-sm-1">Action</th>
      </tr>
    </thead>

    <tbody>
    <% @notes.each_with_index do |note, index| %>
        <tr>
          <td><%= index + ((params[:page] || 1).to_i - 1) * 20 + 1 %></td>
          <td><%= note.title %></td>
          <td><%= note.body %></td>
          <td><%= note.tags.pluck(:title) %></td>
          <td><%= note.created_at %></td>
          <td><%= link_to 'Show', note %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="new_with_pagination">
    <%= paginate @notes %>
  </div>
</div>
